{
  "extends": ["stylelint-config-standard"],
  "plugins": ["stylelint-order"],
  "rules": {
    "declaration-empty-line-before": null,
    "order/properties-order": [
      {
        "groupName": "layout",
        "properties": [
          "display",
          "box-sizing",
          "float",
          "width",
          "height",
          "max-width",
          "max-height",
          "min-width",
          "min-height",
          "padding",
          "padding-top",
          "padding-right",
          "padding-bottom",
          "padding-left",
          "margin",
          "margin-top",
          "margin-right",
          "margin-bottom",
          "margin-left",
          "margin-collapse",
          "margin-top-collapse",
          "margin-right-collapse",
          "margin-bottom-collapse",
          "margin-left-collapse",
          "overflow",
          "overflow-x",
          "overflow-y",
          "clip",
          "clear"
        ]
      },
      {
        "groupName": "flexible",
        "emptyLineBefore": "always",
        "properties": [
          "flex-flow",
          "flex-direction",
          "flex-wrap",
          "justify-content",
          "align-items",
          "align-content",
          "order",
          "flex",
          "flex-grow",
          "flex-shrink",
          "flex-basis",
          "align-self"
        ]
      },
      {
        "groupName": "layout-style",
        "emptyLineBefore": "always",
        "properties": [
          "background",
          "background-color",
          "border",
          "border-radius",
          "border-color",
          "border-top",
          "border-right",
          "border-bottom",
          "border-left",
          "box-shadow"
        ]
      },
      {
        "groupName": "position",
        "emptyLineBefore": "always",
        "properties": ["position", "top", "right", "bottom", "left", "z-index"]
      },
      {
        "groupName": "font",
        "emptyLineBefore": "always",
        "properties": [
          "color",
          "font-size",
          "font-weight",
          "font-family",
          "font-style",
          "line-height",
          "letter-spacing",
          "outline"
        ]
      },
      {
        "groupName": "animation",
        "emptyLineBefore": "always",
        "properties": ["transition", "animation"]
      }
    ]
  },
  "customSyntax": "postcss-styled-syntax"
}
